<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>*******</title>
    <link rel="stylesheet" href="../styles.css" />

    <script
      src="https://kit.fontawesome.com/b52527b063.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="home">
        <a href="/"><i class="fa-solid fa-house"></i></a>
      </div>
      <h1>*********</h1>
    </header>
    <nav>
      <div class="nav-categorias">
        <div class="position-categorias">
          <button class="btn-categories">Otras Categorías</button>
          <ul id="menu-categorias" class="oculto">
            <li>Categoría 1</li>
            <li>Categoría 2</li>
            <li>Categoría 3</li>
            <li>Categoría 4
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      <div class="container-pages">
        <ul id="lista-*******"></ul>
        <a href="/">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </div>
    </main>

    <template id="template-***********">
      <li class="lista">
        <div class="card">
          <div class="front">
            <h2></h2>
            <img src="" alt="" />
          </div>

          <div class="back">
            <h2></h2>
          </div>
        </div>
      </li>
    </template>
    <footer>
      <h3>Todos los derechos reservados &copy juancmdev 2024</h3>
    </footer>

    <script type="module" src="/apps/**********.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
