* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70vw;
  height: 100vh;
  margin: 10px auto;
  background: rgb(241, 235, 223);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.card {
  border: 1px solid black;
  height: 300px;
}
