* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  object-fit: fill;
}

ul {
  list-style-type: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  height: 100vh;

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px; */
}

#lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.container img {
  height: 100%;
}

.card {
  perspective: 1000px;
  border: 1px solid black;
  height: 350px;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotateY(0deg);
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}
