* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70vw;
  min-height: 100dvh;
  margin: 10px auto;
  background: rgb(241, 235, 223);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 350px;
}

.rotate {
    transform: rotateY(360deg);
}
